.grid {
    border: 2px solid red;
    padding: 2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    height: 50vh;
}

.product__img{
    width: 100%;
    height: auto;
}

.MuiGrid-spacing-xs-3{
    margin: 0;
}