.grid {
    padding: 2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    height: 50vh;
}

.MuiGrid-spacing-xs-3{
    margin: 0;
    /* border: 1px solid red; */
}

/* #midProductDetailGrid {
    margin-left: 12px;
    margin-right: 12px;
} */

.product__img{
    width: 250px;
}

.product__title{
    margin-bottom: 3rem;
    position: relative;
    bottom: 5rem;
}

.product__details-right{
    justify-content: center;
    text-align: center;
    line-height: 3;
}

.star{
    cursor: pointer;
    transition: color 200ms;
}

input[type='radio'] {
    display: none;
}



#Reviews {
    margin: 5rem;
}